<ion-header>
  <ion-navbar>
    <ion-title>
      QuizPad
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <h2 class="title">Welcome to QuizPad</h2>
      <img src="assets/svgs/icon.svg" class="slide-image">
      <p>In a few seconds you will be able to <b>create, share and play</b> quizzes easily!</p>
      <p>But first let's setup your profile!</p>
      <button ion-button large color="primary" (click)="gotToCreateProfile()">
        Let's go!
      </button>
    </ion-slide>
    <ion-slide>
      <h2 class="title">Create your profile</h2>
      <p>Choose your avatar and a nickname, that's it!</p>
      <ion-list>
        <ion-item no-lines>
          <ion-avatar>
            <img class="no-img" *ngIf="!profile.avatar" src="assets/svgs/icon.svg">
            <img *ngIf="profile.avatar" [src]="renderPicture(profile.avatar)">
          </ion-avatar>
          <ion-fab class="avatar-fab" (click)="openImagePicker()">
          <button ion-fab>
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-fab>
        </ion-item>
        <ion-item class="slide-input">
          <ion-label stacked>Nickname</ion-label>
          <ion-input type="text" minlength="3" [(ngModel)]="profile.nickname"></ion-input>
        </ion-item>
      </ion-list>
      <p>Your nickname must be at least 3 characters, it will be displayed when you join a quiz.</p>
      <button ion-button large (click)="createProfile()" [disabled]="!enableCreateButton()">
        I'm done
      </button>
    </ion-slide>
  </ion-slides>
  <input #fileInput type="file" style="display: none" (change)="getBrowserImage()" accept="image/png, image/jpeg"/>
</ion-content>
