<ion-header>
  <ion-navbar>
    <ion-title>
      QuizPad
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <h2 class="title">{{ 'WELCOME_START' | translate }}</h2>
      <img src="assets/svgs/icon.svg" class="slide-image">
      <p>{{ 'INTRO_START' | translate }}</p>
      <p>{{ 'SETUP_PROFILE_START' | translate }}</p>
      <button ion-button large color="primary" (click)="gotToCreateProfile()">
        {{ 'LETS_GO_START' | translate }}
      </button>
    </ion-slide>
    <ion-slide>
      <h2 class="title">{{ 'CREATE_PROFILE' | translate }}</h2>
      <p>{{ 'CHOSE_NICKNAME' | translate }}</p>
      <ion-list>
        <ion-item no-lines>
          <ion-avatar>
            <img class="no-img" *ngIf="!profile.avatar" src="assets/svgs/icon.svg">
            <img *ngIf="profile.avatar" [src]="renderPicture(profile.avatar)">
          </ion-avatar>
          <ion-fab class="avatar-fab" (click)="openImagePicker()">
          <button ion-fab>
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-fab>
        </ion-item>
        <ion-item class="slide-input">
          <ion-label stacked>{{ 'NICKNAME' | translate }}</ion-label>
          <ion-input type="text" minlength="3" [(ngModel)]="profile.nickname"></ion-input>
        </ion-item>
      </ion-list>
      <p>{{ 'NICKNAME_INFO' | translate }}</p>
      <button ion-button large (click)="createProfile()" [disabled]="!enableCreateButton()">
        {{ 'DONE_START' | translate }}
      </button>
    </ion-slide>
  </ion-slides>
  <input #fileInput type="file" style="display: none" (change)="getBrowserImage()" accept="image/png, image/jpeg"/>
</ion-content>
