page-start {
  .scroll-content {
    //overflow-y: hidden !important;
    padding-bottom: 0px !important; //important to API 21
    display: flex;
    flex-flow: column;
  }

  ion-grid {
    height: 100%;
    width: 100%;

    ion-row {
      height: 100%;
      width: 100%;

      ion-col {
        height: 100%;
        width: 100%;

        display: flex;
        flex-flow: column;
        text-align: center;

        img {
          max-height: 50%;
          max-width: 50%;
          margin: auto;
        }

        .empty-space {
          height: auto;
          flex-grow: 1;
        }
      }
    }
  }
}
