<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menu-one">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Join a game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher #refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content  pullingIcon="arrow-dropdown"
                            pullingText="Refresh"
                            refreshingSpinner="crescent"
                            refreshingText="Searching...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item tappable *ngFor="let game of games" (tap)="joinGame(game)">
        <h2>{{ game.title }}</h2>
        <p *ngIf="game.state === GameState.playersJoining">The quiz will start soon, join now!</p>
        <p *ngIf="game.state === GameState.questionDisplayed">The quiz already started</p>
        <p *ngIf="game.state === GameState.ended">The quiz just finished</p>
        <ion-note item-end>{{ game.host }}</ion-note>
    </ion-item>
  </ion-list>
  <div *ngIf="games.length === 0" class="information">You need to be connected on the same wifi network as the quiz hoster to be able to join.</div>
  <div class="information">Pull to refresh</div>

</ion-content>
