<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" fixed>Question</ion-label>
      <ion-input type="text" placeholder="Who let the dog out?" [(ngModel)]="question.question"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Category</ion-label>
      <ion-select [(ngModel)]="question.category.name" interface="popover" (ionChange)="categoryChange($event)">
        <ion-option *ngFor="let category of categorys" [value]="category.name">{{category.name}}</ion-option>
        <ion-option value="new">New category</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Type</ion-label>
      <ion-select [(ngModel)]="question.type" interface="popover">
        <ion-option value="0">Classic</ion-option>
        <ion-option value="1">Time</ion-option>
        <ion-option value="2">Right picture</ion-option>
        <!--<ion-option value="3">Video</ion-option>
        <ion-option value="4">Pictures</ion-option>-->
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let answer of question.answers; let i = index; trackBy:indexTracker">
      <ion-label fixed>Answer {{i}}</ion-label>
      <ion-input type="text" placeholder="I let the dog out" [(ngModel)]="question.answers[i]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Right answer</ion-label>
      <ion-select [(ngModel)]="question.rightAnswer" interface="popover">
        <ion-option *ngFor="let answer of question.answers; let i = index" [value]="i">{{answer}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button (click)="selectPicture()">Select</button>
      <button ion-button color="primary" (click)="save()" [disabled]="!enableSaveButton()">{{saveButtonName}}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
