<ion-header>
  <ion-navbar>
    <ion-title>
      {{ newQuestion === true ? ('NEW_QUESTION' | translate) : ('EDIT_QUESTION' | translate) }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>{{ 'QUESTION' | translate }}</ion-label>
      <ion-input type="text" maxlength="58" (ionChange)="questionMaxLengthReached(58)" placeholder="{{ 'QUESTION_PLACEHOLDER' | translate }}" [(ngModel)]="question.question"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'CATEGORY' | translate }}</ion-label>
      <ion-select [(ngModel)]="question.category.name" interface="popover" (ionChange)="categoryChange($event)">
        <ion-option *ngFor="let category of categorys" [value]="category.name">{{category.name}}</ion-option>
        <ion-option value="new">{{ 'NEW_CATEGORY' | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'TYPE' | translate }}</ion-label>
      <ion-select [(ngModel)]="question.type" interface="popover" (ionChange)="typeChange($event)">
        <ion-option [value]="QuestionType.classic">{{ 'TYPE_CLASSIC' | translate }}</ion-option>
        <ion-option [value]="QuestionType.stopwatch">{{ 'TYPE_STOPWATCH' | translate }}</ion-option>
        <ion-option [value]="QuestionType.rightPicture">{{ 'TYPE_RIGHT_PICTURE' | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item-group *ngIf="question.type === QuestionType.classic || question.type === QuestionType.stopwatch" reorder="true" (ionItemReorder)="reorderAnswers($event)">
      <ion-item *ngFor="let answer of question.answers; let i = index; trackBy:indexTracker">
        <ion-label>{{ 'ANSWER_' + i.toString() | translate }}</ion-label>
        <ion-input type="text" maxlength="24" (ionChange)="answerMaxLengthReached(24, i)" placeholder="" [(ngModel)]="question.answers[i]"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item *ngIf="question.type === QuestionType.classic || question.type === QuestionType.stopwatch">
      <ion-label>{{ 'RIGHT_ANSWER' | translate }}</ion-label>
      <ion-select [(ngModel)]="question.rightAnswer" interface="popover">
        <ion-option *ngFor="let answer of question.answers; let i = index" [value]="i">{{answer}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-slides *ngIf="question.type === QuestionType.rightPicture" centeredSlides pager>
    <ion-slide *ngFor="let answer of question.answers; let i = index; trackBy:indexTracker">
      <ion-spinner *ngIf="!pictures[i]" name="dots" color="primary"></ion-spinner>
      <canvas *ngIf="pictures[i]" [style.background-image]="pictures[i]"></canvas>
      <ion-icon *ngIf="i === question.rightAnswer" name="checkmark-circle-outline" color="primary" class="checkmark"></ion-icon>
    </ion-slide>
  </ion-slides>

  <ion-fab #slidesFab *ngIf="question.type === QuestionType.rightPicture" left bottom>
    <button ion-fab mini><ion-icon name="image"></ion-icon></button>
    <ion-fab-list side="right">
      <!-- realIndex: https://github.com/ionic-team/ionic/issues/12297#issuecomment-329772167 -->
      <!-- realIndex can be undefined when no one ever moved the slides -->
      <button ion-fab (click)="openImagePicker(maxPictures, false)" *ngIf="question.answers.length < maxPictures"><ion-icon name="add"></ion-icon></button>
      <button ion-fab (click)="replacePicture(slides.realIndex ? slides.realIndex : 0)" *ngIf="question.answers.length > 0"><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="deletePicture(slides.realIndex ? slides.realIndex : 0)" *ngIf="question.answers.length > 0"><ion-icon name="trash"></ion-icon></button>
      <button ion-fab (click)="rightPicture(slides.realIndex ? slides.realIndex : 0)" *ngIf="question.answers.length > 0"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="fulldark">
    <ion-buttons left>
      <button ion-button icon-start (click)="openImagePicker(1, true)" *ngIf="question.extras.length === 0"><ion-icon name="film"></ion-icon>{{ 'ADD_INTRO' | translate }}</button>
      <button ion-button icon-start (click)="deleteExtras()" *ngIf="question.extras.length > 0"><ion-icon name="trash"></ion-icon>{{ 'DELETE_INTRO' | translate }}</button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="save()" [disabled]="!enableSaveButton()">{{ newQuestion === true ? ('CREATE' | translate) : ('SAVE' | translate) }}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
