page-question {
  .scroll-content {
    //overflow-y: hidden !important;
    padding-bottom: 0px !important; //important to API 21
    display: flex;
    flex-flow: column;
  }

  .list-md {
    margin: 0;
  }

  ion-slides {
    height: auto;
    flex: 1;

    ion-slide {
      .slide-zoom {
        height: 100%;
      }

      ion-spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      canvas {
        width: 100%;
        height: 100%;
        margin: auto;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .checkmark {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 40px;
        margin: 19px;

        z-index:10;
      }

      ion-fab {
        z-index: 10;
      }
    }
  }

}
