<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" fixed>Question</ion-label>
      <ion-input type="text" placeholder="This is your question" [(ngModel)]="question.question"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Category</ion-label>
      <ion-select [(ngModel)]="question.category.name" interface="popover" (ionChange)="categoryChange($event)">
        <ion-option *ngFor="let category of categorys" [value]="category.name">{{category.name}}</ion-option>
        <ion-option value="new">New category</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Type</ion-label>
      <ion-select [(ngModel)]="question.type" interface="popover" (ionChange)="typeChange($event)">
        <ion-option [value]="QuestionType.classic">Classic</ion-option>
        <ion-option [value]="QuestionType.stopwatch">Stopwatch</ion-option>
        <ion-option [value]="QuestionType.rightPicture">Right picture</ion-option>
        <!--<ion-option value="3">Video</ion-option>
        <ion-option value="4">Pictures</ion-option>-->
      </ion-select>
    </ion-item>
    <div *ngIf="question.type === QuestionType.classic || question.type === QuestionType.stopwatch">
    <ion-item *ngFor="let answer of question.answers; let i = index; trackBy:indexTracker">
      <ion-label fixed>Answer {{answerNumber[i]}}</ion-label>
      <ion-input type="text" placeholder="An answer" [(ngModel)]="question.answers[i]"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Right answer</ion-label>
      <ion-select [(ngModel)]="question.rightAnswer" interface="popover">
        <ion-option *ngFor="let answer of question.answers; let i = index" [value]="i">{{answer}}</ion-option>
      </ion-select>
    </ion-item>
    </div>
  </ion-list>

  <ion-slides *ngIf="question.type === QuestionType.rightPicture" centeredSlides pager>
    <ion-slide *ngFor="let answer of question.answers; let i = index; trackBy:indexTracker">
      <ion-spinner *ngIf="!pictures[i]" name="dots" color="primary"></ion-spinner>
      <canvas *ngIf="pictures[i]" [style.background-image]="pictures[i]"></canvas>
      <ion-icon *ngIf="i === question.rightAnswer" name="checkmark-circle-outline" color="primary" class="checkmark"></ion-icon>
      <ion-fab left bottom>
        <button ion-fab mini><ion-icon name="image"></ion-icon></button>
        <ion-fab-list side="right">
          <button ion-fab (click)="rightPicture(i)"><ion-icon name="checkmark"></ion-icon></button>
          <button ion-fab (click)="replacePicture(i)"><ion-icon name="create"></ion-icon></button>
          <button ion-fab (click)="deletePicture(i)"><ion-icon name="trash"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>
    <input #fileInput type="file" style="display: none" (change)="getBrowserImages()" accept="image/png, image/jpeg" multiple/>
    <input #fileInputReplace type="file" style="display: none" (change)="getBrowserReplaceImage()" accept="image/png, image/jpeg"/>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar color="fulldark">
    <ion-buttons left *ngIf="question.type === QuestionType.rightPicture">
      <button ion-button (click)="openImagePicker()" [disabled]="question.answers.length >= maxPictures">Add pictures</button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="save()" [disabled]="!enableSaveButton()">{{saveButtonName}}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
