<ion-content class="main" [ngStyle]="{'background-image': 'url(assets/imgs/backgrounds/' + backgroundImage + ')'}" (tap)="setShowMenu($event)">

  <!--General Texts and title Zone-->
  <div *ngIf="screenState === ScreenStateType.playersJoining && platform.is('android')" [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}" class="network-info wifi">
    Wifi: {{currentWifi}}
  </div>
  <div *ngIf="screenState === ScreenStateType.playersJoining && platform.is('android')" [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}" class="network-info webpage">
    http://{{currentIp}}:8080
  </div>

  <div *ngIf="screenState === ScreenStateType.playersJoining && platform.is('android')" [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}" class="start-message">
    The quiz will start shortly...<br><br>
    Play now by connecting to the Wifi above<br>
    and follow the instructions on the webpage.<br><br>
    {{startMessage}}
  </div>

  <div *ngIf="screenState === ScreenStateType.playersJoining && !platform.is('android')" [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}" class="start-message">
    The quiz will start shortly...<br><br>
    Add a player by bouble clicking the screen twice<br>
    and follow the instructions under Add Player.<br><br>
    {{startMessage}}
  </div>

  <div *ngIf="screenState === ScreenStateType.end" [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}" class="end-message">
    {{endMessage}}
  </div>

  <div class="title" *ngIf="screenState === ScreenStateType.displayTitle || screenState === ScreenStateType.displayCategoryTitle"
        [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}">
    <div *ngIf="screenState === ScreenStateType.displayTitle">{{quiz.title}}</div>
    <div *ngIf="screenState === ScreenStateType.displayCategoryTitle">{{quiz.categorys[currentCategory].name}}</div>
  </div>

  <!--Player Avatar, nickname & points Zone-->
  <div class="players" *ngIf="displayPlayers" [@playersContainerAnimation]>
    <div class="player" *ngFor="let player of players; let i = index"
    [@playerPositionAnimation]="{value: player.actualPosition,
      params: {
          time: commonAnimationDuration,
          previousYTranslation: getPlayerPreviousYTranslation(player),
          actualYTranslation: getPlayerActualYTranslation(player),
          actualYTranslationHalf: getPlayerActualYTranslation(player) / 2
        }
    }"
    (@playerPositionAnimation.done) = "saveActualYTranslation($event, i)">
      <button *ngIf="screenState === ScreenStateType.playersJoining" ion-button icon-only class="remove-button" (click)="removePlayer(player, i)">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <div class="info" [ngStyle]="getAvatarWidth()">
        <div class="nickname" [ngStyle]="getNicknameFontSize()">{{player.nickname}}</div>
        <div class="nickname" [ngStyle]="getPointsFontSize()" [@playerPointsAnimation]="{value: player.points, params: {time: commonAnimationDuration}}">{{player.points}}</div>
      </div>
      <div class="avatar-container">
        <canvas class="avatar" width="1" height="1"
                [ngClass]="{'player-answered': player.answer > -1 && screenState === ScreenStateType.displayQuestion}"

                [ngStyle]="{'background-image': 'url(assets/imgs/avatars/' + player.avatar + ')'}"></canvas>
        <canvas class="player-answer" width="1" height="1"

                [ngClass]="{'zero':  player.answer === 0 && displayAnswers,
                            'one':   player.answer === 1 && displayAnswers,
                            'two':   player.answer === 2 && displayAnswers,
                            'three': player.answer === 3 && displayAnswers}"

                [ngStyle]="player.answer === currentQuestions[currentQuestion].rightAnswer && {'background-image': 'url(assets/imgs/right-answer.png)'}
                        || player.answer !== currentQuestions[currentQuestion].rightAnswer && {'background-image': 'url(assets/imgs/wrong-answer.png)'}"

                *ngIf="screenState === ScreenStateType.displayPlayersAnswer" [@playerAnswerAnimation]="{value: '', params: {time: playerAnswerAnimationDuration}}"></canvas>


      </div>
    </div>
  </div>

  <!--Question & Timebar Zone-->
  <div class="time-bar" *ngIf="displayTimeBar"
        [@timeBarAnimation]="{value: '', params: {time: timeBarAnimationDuration}}">
  </div>

  <div class="question" *ngIf="screenState === ScreenStateType.displayQuestion || screenState === ScreenStateType.displayPlayersAnswer"
        [@questionAnimation]="{value: '', params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].question}}
  </div>

  <!-- Answers -->
  <!--Common answers Zone-->
  <div class="answers">
    <div class="zero" *ngIf="displayAnswers"
          [@answerAnimation]="{value: '', params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[0]}}</div>
    <div class="one" *ngIf="displayAnswers"
          [@answerAnimation]="{value: '', params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[1]}}</div>
    <div class="two" *ngIf="displayAnswers"
          [@answerAnimation]="{value: '', params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[2]}}</div>
    <div class="three" *ngIf="displayAnswers"
          [@answerAnimation]="{value: '', params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[3]}}</div>
  </div>
    <!--Picture answers Zone-->
    <div class="picture" *ngIf="displayPictures"
          [@pictureInOutAnimation]="{value: '', params: {time: commonAnimationDuration}}"
          [@pictureTransitionAnimation]="{value: currentPictureCounter, params: {time: commonAnimationDuration}}">
          <canvas [style.background-image]="currentPictures[currentPicture]"></canvas>
  </div>

  <!-- Manual mode fabs -->
  <ion-fab center bottom *ngIf="showNext === true" [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}">
    <button ion-fab (click)="next()" >
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab center bottom *ngIf="showExit === true" [@titleAnimation]="{value: '', params: {time: commonAnimationDuration}}">
  <button ion-fab (click)="exit()" >
    <ion-icon name="square"></ion-icon>
  </button>
</ion-fab>
</ion-content>
