page-play {

$dark: rgba(0, 0, 0, 0.7);

  * {
    box-sizing: border-box;
  }

  .main {
    background-color: #666;
  }

  .scroll-content {
    overflow-y: hidden;
  }

  .question {
    width: 96vw;
    height: 12vh;
    line-height: 12vh;
    margin: 4vh 2vw;
    padding: 0 2vw;
    font-size: 6vh;

    color: #ccc;
    background-color: $dark;
    border: 0.3vh solid rgba(25, 25, 25, 0.9);
    box-shadow:
      -0.25vw 0.25vh  0.4vw 0.4vh rgba(0, 0, 0, .3),
      inset -0.25vw 0.25vh 0.4vw 0.4vh rgba(25, 25, 25, 0.9),
      inset 0.25vw -0.25vh 0.4vw 0.4vh rgba(125, 125, 125, 0.2);
    border-radius: 2vh;

    animation: slidein 1.5s ease-in-out 3s;
    transform-origin: -4vw -12vh;

    @keyframes slidein {
      from { transform: rotate3d(1, 1, 1, -90deg); }
      to   { transform: rotate3d(0); }
    }
  }

  .answers {
    position: absolute;
    top: 20.5vh;
    left: 0;
    height: 72vh;
    min-width: 25vw;
    margin: 4vh 2.5vw;
    display: flex;
    flex-direction: column;

    div {
      flex-grow: 1;
      margin: 3vh 0;
      font-size: 6vh;
      padding: 0 1vw;

      display: flex;
      justify-content: center;
      flex-direction: column;

      vertical-align: middle;
      align-content: center;
      color: #ccc;
      box-shadow:
        -0.25vw 0.25vh  0.3vw 0.3vh rgba(0, 0, 0, .3),
        inset -0.25vw 0.25vh 0.3vw 0.3vh rgba(0, 0, 0, 0.1),
        inset 0.25vw -0.25vh 0.3vw 0.3vh rgba(255, 255, 255, 0.1);
      border-radius: 2vh;

      animation: answerslidein 1.5s ease-in-out 3s;
      transform-origin: -15vw top;

      @keyframes answerslidein {
        from { transform: rotate3d(1, 1, 1, 90deg); }
        to   { transform: rotate3d(0); }
      }
    }

    .one {
      background-color: #200691;
      border: 0.2vh solid #200691;
    }

    .two {
      background-color: #a64a00;
      border: 0.2vh solid #a64a00;
    }

    .three {
      background-color: #1f9807;
      border: 0.2vh solid #1f9807;
    }

    .four {
      background-color: #929401;
      border: 0.2vh solid #929401;
    }
  }

  .players {
    position: absolute;
    top: 24.5vh;
    right: 2.5vw;
    height: 72vh;
    width: auto;
    display: flex;
    flex-direction: column;

    .player {
      display: table;
      flex-grow: 1;
      max-height: 10vh;
      background-color: blue;
      /*margin-bottom: 16%;*/

      .info {
        display: table-cell;
        height: 100%;
        background-color: $dark;
        border: 0.3vh solid rgba(25, 25, 25, 0.9);
        box-shadow:
          -0.25vw 0.25vh  0.4vw 0.4vh rgba(0, 0, 0, .3),
          inset -0.25vw 0.25vh 0.4vw 0.4vh rgba(25, 25, 25, 0.9),
          inset 0.25vw -0.25vh 0.4vw 0.4vh rgba(125, 125, 125, 0.2);
        border-radius: 1vh;

        div {
          padding: 1vh 1vw;
        }

        h2 {
          color: #ccc;
        }

        h3 {
          color: #ccc;
        }
      }

      .responsive-avatar {
        display: table-cell;
        width: 100%;
        /*padding-bottom: 100%;*/
        max-width: 50px;
        background-color: red;
        opacity: 0.5;
        position: relative;
      }

      .avatar {
        position: absolute;
        top: 0;  bottom: 0;  left: 0;  right: 0;

        border: 0.3vh solid rgba(25, 25, 25, 0.9);
        box-shadow:
          -0.25vw 0.25vh  0.3vw 0.3vh rgba(0, 0, 0, .3),
          inset -0.25vw 0.25vh 0.3vw 0.3vh rgba(25, 25, 25, 0.9),
          inset 0.25vw -0.25vh 0.3vw 0.3vh rgba(60, 60, 60, 1.0);
        border-radius: 1vh;

        img {
          position: relative;
          opacity: 0.8;
          z-index: -1;
          object-fit: scale-down;
          border-radius: 1vh;
        }

      }
    }
  }

}
