<ion-content class="main" [ngStyle]="{'background-image': 'url(assets/imgs/background.jpg)'}">

  <!--menu-->
  <!--<div class="menu">
    <div class="menu-title">Menu</div>
    <table>
      <tr class="fab-line">
        <td>
          <ion-fab>
            <button ion-fab (click)="next()">
              <ion-icon name="pause"></ion-icon>
            </button>
          </ion-fab>
        </td>
        <td>
          <ion-fab>
            <button ion-fab (click)="next()">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-fab>
        </td>
        <td>
          <ion-fab>
            <button ion-fab (click)="exit()">
              <ion-icon name="square"></ion-icon>
            </button>
          </ion-fab>
        </td>
      </tr>
      <tr>
        <td>
          <div>Pause</div>
        </td>
        <td>
          <div>Close menu</div>
        </td>
        <td>
          <div>Exit</div>
        </td>
      </tr>
    </table>
  </div>-->

  <!--General Texts and title Zone-->
  <div *ngIf="screenState === ScreenStateType.playersJoining" [@titleAnimation] class="network-info wifi">
    Wifi: {{currentWifi}}
  </div>

  <div *ngIf="screenState === ScreenStateType.playersJoining" [@titleAnimation] class="network-info webpage">
    http://{{currentIp}}:8080
  </div>

  <div *ngIf="screenState === ScreenStateType.playersJoining" [@titleAnimation] class="start-message">
    The quiz will start shortly...<br><br>
    Play now by connecting to the Wifi above<br>
    and follow the instructions on the webpage.<br><br>
    :)
  </div>

  <div class="title" *ngIf="screenState === ScreenStateType.displayTitle || screenState === ScreenStateType.displayCategoryTitle"
        [@titleAnimation]="{params: {time: commonAnimationDuration}}">
    <div *ngIf="screenState === ScreenStateType.displayTitle">{{quiz.title}}</div>
    <div *ngIf="screenState === ScreenStateType.displayCategoryTitle">{{quiz.categorys[currentCategory].name}}</div>
  </div>

  <!--Player Avatar, nickname & points Zone-->
  <div class="players" *ngIf="displayPlayers()" [@playersContainerAnimation]>
    <div class="player" *ngFor="let player of players; let i = index"
    [@playerPositionAnimation]="{value: player.actualPosition,
      params: {
          time: commonAnimationDuration,
          previousYTranslation: getPlayerPreviousYTranslation(player),
          actualYTranslation: getPlayerActualYTranslation(player),
          actualYTranslationHalf: getPlayerActualYTranslation(player) / 2
        }
    }"
    (@playerPositionAnimation.done) = "saveActualYTranslation($event, i)">
      <button *ngIf="screenState === ScreenStateType.playersJoining" ion-button icon-only class="remove-button" (click)="removePlayer(player,i)">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <div class="info" [ngStyle]="{'margin-right': '' + getAvatarWidth() + 'px'}">
        <div class="nickname" [ngStyle]="{'font-size': '' + getNicknameFontSize() + 'px'}">{{player.nickname}}</div>
        <div class="nickname" [ngStyle]="{'font-size': '' + getPointsFontSize() + 'px'}" [@playerPointsAnimation]="{value: player.points, params: {time: commonAnimationDuration}}">{{player.points}}</div>
      </div>
      <div class="avatar-container">
        <canvas class="avatar" width="1" height="1" [ngStyle]="{'background-image': 'url(assets/imgs/' + player.avatar + ')'}"></canvas>
        <canvas class="player-answer" width="1" height="1"
                [ngClass]="{'player-answer-right': player.answer === currentQuestions[currentQuestion].rightAnswer,
                            'player-answer-wrong': player.answer !== undefined && player.answer !== currentQuestions[currentQuestion].rightAnswer}"

                [ngStyle]="player.answer === currentQuestions[currentQuestion].rightAnswer && {'background-image': 'url(assets/imgs/right-answer.png)'}
                || player.answer !== undefined && {'background-image': 'url(assets/imgs/wrong-answer.png)'}"

                *ngIf="screenState === ScreenStateType.displayPlayersAnswer" [@playerAnswerAnimation]="{params: {time: playerAnswerAnimationDuration}}"></canvas>
      </div>
    </div>
  </div>

  <!--Question & Timebar Zone-->
  <div class="time-bar" *ngIf="screenState === ScreenStateType.displayQuestion"
        [@timeBarAnimation]="{params: {time: fullTimeBarAnimationDuration}}">
  </div>

  <div class="question" *ngIf="screenState === ScreenStateType.displayQuestion || screenState === ScreenStateType.displayPlayersAnswer"
        [@questionAnimation]="{params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].question}}
  </div>

  <!--Common answers Zone-->
  <div class="answers" *ngIf="currentQuestions[currentQuestion].type != QuestionType.rightPicture">
    <div class="zero" *ngIf="screenState === ScreenStateType.displayQuestion || screenState === ScreenStateType.displayPlayersAnswer"
          [@answerAnimation]="{params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[0]}}</div>
    <div class="one" *ngIf="screenState === ScreenStateType.displayQuestion || screenState === ScreenStateType.displayPlayersAnswer"
          [@answerAnimation]="{params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[1]}}</div>
    <div class="two" *ngIf="screenState === ScreenStateType.displayQuestion || screenState === ScreenStateType.displayPlayersAnswer"
          [@answerAnimation]="{params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[2]}}</div>
    <div class="three" *ngIf="screenState === ScreenStateType.displayQuestion || screenState === ScreenStateType.displayPlayersAnswer"
          [@answerAnimation]="{params: {time: commonAnimationDuration}}">{{currentQuestions[currentQuestion].answers[3]}}</div>
  </div>

  <!--Picture answers Zone-->
  <div class="picture" *ngIf="(screenState === ScreenStateType.displayQuestion || screenState === ScreenStateType.displayPlayersAnswer) && currentQuestions[currentQuestion].type == QuestionType.rightPicture"
        [@pictureInOutAnimation]
        [@pictureTransitionAnimation]="{value: currentPictureCounter, params: {time: commonAnimationDuration}}">
        <canvas [ngStyle]="{'background-image': 'url(' + getPic(currentPicture) + ')'}"></canvas>
  </div>

  <!--<ion-fab center bottom >
    <button ion-fab (click)="next()" *ngIf="showNext === true" [@titleAnimation]="{params: {time: commonAnimationDuration}}">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-fab (click)="exit()" *ngIf="showExit === true" [@titleAnimation]="{params: {time: commonAnimationDuration}}">
      <ion-icon name="square"></ion-icon>
    </button>
  </ion-fab>-->
</ion-content>
