<ion-content class="main" (click)="next()">

  <div *ngIf="screenState === ScreenStateType.displayTitle" class="title">
    <div>{{quiz.title}}</div>
  </div>

  <div *ngIf="screenState === ScreenStateType.displayCategoryTitle" class="title">
    <div>{{quiz.categorys[currentCategory].name}}</div>
  </div>
  
  <div *ngIf="screenState === ScreenStateType.displayQuestion">
    <div class="question">
      {{quiz.categorys[currentCategory].questions[currentQuestion].question}}
    </div>

    <div class="answers">
      <div class="one">{{quiz.categorys[currentCategory].questions[currentQuestion].answers[0]}}</div>
      <div class="two">{{quiz.categorys[currentCategory].questions[currentQuestion].answers[1]}}</div>
      <div class="three">{{quiz.categorys[currentCategory].questions[currentQuestion].answers[2]}}</div>
      <div class="four">{{quiz.categorys[currentCategory].questions[currentQuestion].answers[3]}}</div>
    </div>
  </div>

  <!--<div class="players">
    <div class="player">
      <div class="info">
        <div>
          <h2>Dogdddddddd</h2>
          <h3>10000</h3>
        </div>
      </div>
      <div class="responsive-avatar">
        <p>toto</p>

        <div class="avatar">

          <!--<img  src="assets/imgs/Dog.png">-->
        <!--</div>
      </div>

    </div>-->
    <!--<div class="player">
      <div class="info">
        <h2>Sintel</h2>
        <h3>10000</h3>
      </div>
      <div class="responsive-avatar">
        <div class="avatar">
          <img  src="assets/imgs/Sintel.png">
        </div>
      </div>
    </div>-->
  <!--</div>-->
</ion-content>
