page-play-addplayer {
  .scroll-content {
      overflow-y: hidden !important;
      display: flex;
      flex-flow: column;
  }

  ion-slide {
    canvas {
      width: 100%;
      height: 100%;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
