page-user-profile {
  .scroll-content {
    //overflow-y: hidden !important;
    padding-bottom: 0px !important; //important to API 21
    display: flex;
    flex-flow: column;
  }

  ion-avatar {
    margin: 10px 0 20px 0;

    img {
      height: 128px !important;
      width: 128px !important;
      margin: auto;
      border: 0.2em solid white;
      object-fit: cover;
    }

    .no-img {
      padding: 10px;
    }
  }

  .avatar-fab {
    left: 50%;
    margin-left: 14px;
    bottom: 14px;
  }

  p {
      text-align: center;
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
  }
}
