<ion-header>
  <ion-navbar>
    <ion-title>
      {{ !profileMustBeUpdated ? ('EDIT_PROFILE' | translate) : ('CREATE_PROFILE' | translate) }}
    </ion-title>
    <ion-buttons end *ngIf="!profileMustBeUpdated">
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item no-lines>
        <ion-avatar>
          <img [class.no-img]="!profile.avatarUrl" [src]="profile.avatarUrl || 'assets/svgs/icon.svg'">
        </ion-avatar>
        <ion-fab class="avatar-fab" (click)="openImagePicker()">
        <button ion-fab>
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-fab>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'NICKNAME' | translate }}</ion-label>
        <ion-input type="text" minlength="3" [(ngModel)]="profile.nickname"></ion-input>
      </ion-item>
      <p>
        {{ 'NICKNAME_INFO' | translate }}
      </p>
    </ion-item-group>
    <ion-item-group *ngIf="authProv.getUser() && !profileMustBeUpdated">
      <ion-item-divider>
        <ion-label>{{ 'ONLINE_ACCOUNT' | translate }}</ion-label>
      </ion-item-divider>
      <ion-item *ngIf="!authProv.getUser().isAnonymous">
        <ion-icon name="person" item-start></ion-icon>
        <h2>{{ 'CONNECTED_WITH' | translate }}</h2>
        <h3>{{ authProv.getUser().email }}</h3>
      </ion-item>
      <ion-item *ngIf="!authProv.getUser().isAnonymous" tappable (tap)="updatePassword()">
        <ion-icon name="lock" item-start></ion-icon>
        <h2>{{ 'UPDATE_PASSWORD' | translate }}</h2>
        <h3>{{ 'UPDATE_PASSWORD_INFO' | translate }}</h3>
      </ion-item>
      <ion-item *ngIf="!authProv.getUser().isAnonymous" tappable (tap)="resetPassword()">
        <ion-icon name="refresh" item-start></ion-icon>
        <h2>{{ 'RESET_PASSWORD' | translate }}</h2>
        <h3>{{ 'RESET_PASSWORD_INFO_SHORT' | translate }}</h3>
      </ion-item>
      <ion-item *ngIf="!authProv.getUser().isAnonymous" tappable (tap)="logout()">
        <ion-icon name="log-out" item-start></ion-icon>
        <h2>{{ 'LOG_OUT' | translate }}</h2>
        <h3>{{ 'LOG_OUT_INFO' | translate }}</h3>
      </ion-item>
      <ion-item *ngIf="authProv.getUser().isAnonymous" tappable (tap)="linkAccount()">
        <ion-icon name="link" item-start></ion-icon>
        <h2>{{ 'LINK_ACCOUNT' | translate }}</h2>
        <h3>{{ 'LINK_ACCOUNT_INFO' | translate }}</h3>
      </ion-item>
      <ion-item tappable (tap)="!authProv.getUser().isAnonymous ? deleteAccount() : deleteAnonymousAccount()">
        <ion-icon name="trash" item-start></ion-icon>
        <h2>{{ 'DELETE_ACCOUNT' | translate }}</h2>
        <h3>{{ 'DELETE_ACCOUNT_INFO' | translate }}</h3>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="fulldark">
    <ion-buttons end>
      <button ion-button (click)="save()" [disabled]="!enableSaveButton()">
        {{ !profileMustBeUpdated ? ('SAVE' | translate) : ('CREATE' | translate) }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
