<ion-header>
  <ion-navbar>
    <ion-title>
      {{selectedQuizs === 0 ? 'QuizIt' : selectedQuizs + ' Selected'}}
    </ion-title>
    <ion-buttons end *ngIf="selectedQuizs === 0">
      <button ion-button icon-only (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="selectedQuizs > 0">
      <button *ngIf="selectedQuizs === 1" ion-button icon-only (click)="export()">
        <ion-icon name="download"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteSelected()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <div ng-controller="myCtrl">
      <input #fileInput type="file" style="display: none" (change)="importBrowser()" accept="application/zip"/>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item tappable *ngFor="let quiz of quizsProv.quizs" (tap)="openQuizQuestionsPage($event, quiz)" (press)="selectQuiz(quiz)">
        <ion-icon *ngIf="quiz.selected" name="checkbox" color="primary" item-end></ion-icon>
        <h2>{{ quiz.title }}</h2>
        <p>
          <ion-badge color="fulldark"><ion-icon name="list"></ion-icon> {{ getQuestionTypeCount(quiz, QuestionType.classic) }}</ion-badge>
          <ion-badge color="fulldark"><ion-icon name="stopwatch"></ion-icon> {{ getQuestionTypeCount(quiz, QuestionType.stopwatch) }}</ion-badge>
          <ion-badge color="fulldark"><ion-icon name="images"></ion-icon> {{ getQuestionTypeCount(quiz, QuestionType.rightPicture) }}</ion-badge>
        </p>
        <ion-buttons item-end *ngIf="selectedQuizs === 0">
          <button color="fulldark" ion-button icon-only data-stop-propagation (tap)="startQuiz(quiz)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
  </ion-list>

  <ion-fab right bottom>
  <button ion-fab (click)="openQuizNewPage()">
    <ion-icon name="quiz-it-icon"></ion-icon>
  </button>
</ion-fab>
</ion-content>
