<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menu-one" *ngIf="selectedQuizs === 0">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{selectedQuizs === 0 ? 'QuizPad' : selectedQuizs + ' ' +  ('SELECTED' | translate) }}
    </ion-title>
    <ion-buttons end *ngIf="selectedQuizs === 0">
      <button *ngIf="platform.is('core')" ion-button icon-only (click)="import()">
        <ion-icon name="folder-open"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left *ngIf="selectedQuizs > 0">
      <button ion-button icon-only class="custom-arrow-back" (click)="deselectAll()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right *ngIf="selectedQuizs > 0">
      <button *ngIf="selectedQuizs === 1" ion-button icon-only (click)="export()">
        <ion-icon name="download"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteSelected()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <div ng-controller="myCtrl">
      <input #fileInput type="file" style="display: none" (change)="importBrowser()" accept="application/zip"/>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="quizsProv.quizs.length > 0">
    <!-- set tap event after press to avoid multi execution. See https://forum.ionicframework.com/t/using-tap-and-press-on-same-element-both-gesture-events-are-fired/76406/4 -->
    <ion-item tappable *ngFor="let quiz of quizsProv.quizs" (press)="selectQuiz(quiz)" (tap)="openQuizQuestionsPage($event, quiz)">
        <ion-icon *ngIf="quiz.selected" name="checkbox" color="primary" item-end></ion-icon>
        <h2>{{ quiz.title }}</h2>
        <p>
          <ion-badge color="fulldark"><ion-icon name="list"></ion-icon> {{ getQuestionTypeCount(quiz, QuestionType.classic) }}</ion-badge>
          <ion-badge color="fulldark"><ion-icon name="stopwatch"></ion-icon> {{ getQuestionTypeCount(quiz, QuestionType.stopwatch) }}</ion-badge>
          <ion-badge color="fulldark"><ion-icon name="images"></ion-icon> {{ getQuestionTypeCount(quiz, QuestionType.rightPicture) }}</ion-badge>
        </p>
        <ion-buttons item-end *ngIf="selectedQuizs === 0">
          <button color="fulldark" ion-button icon-only data-stop-propagation (click)="startQuiz(quiz)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
  </ion-list>
  <div *ngIf="quizsProv.quizs.length < 1" class="start-infos">
    <div class="empty-space"></div>
    <p>
      {{ 'HOME_WANT_TO_JOIN' | translate }}
      <br><br>
      {{ 'HOME_WANT_TO_JOIN_MENU_LEFT' | translate }} <ion-icon name="menu"></ion-icon> {{ 'HOME_WANT_TO_JOIN_MENU_RIGHT' | translate }} <ion-icon name="game-controller-b"></ion-icon> !
    </p>
    <div class="empty-space"></div>
    <p>
      {{ 'HOME_WANT_TO_CREATE' | translate }}
      <br><br>
      {{ 'HOME_WANT_TO_CREATE_LEFT' | translate }}  <ion-icon name="quiz-it-icon"></ion-icon>!
    </p>
    <div class="empty-space"></div>
  </div>
  <ion-fab right bottom>
  <button ion-fab (click)="openQuizNewPage()">
    <ion-icon name="quiz-it-icon"></ion-icon>
  </button>
</ion-fab>
</ion-content>
