page-home {

  ion-title {
    display:inline-block;
  }

  ion-badge {
    margin: 9px 4px 0px 4px;
  }

  .custom-arrow-back {
    padding: 0 6px !important;
    margin:  0 5px !important;
  }

  ion-item:last-child {
    margin-bottom: 66px;
  }

  .start-infos {
    height: 100%;
    width: 100%;
    padding: 12px;
    
    display: flex;
    flex-flow: column;
    text-align: center;

    .empty-space {
      height: auto;
      flex-grow: 1;
    }
  }
}
