<ion-header>
  <ion-navbar *ngIf="selectedQuizs === 0">
    <ion-title>
      QuizIt
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="import()">
        <ion-icon name="folder-open"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar *ngIf="selectedQuizs > 0">
    <ion-title>
      {{selectedQuizs}} Selected
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteSelected()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let quiz of quizsProv.quizs" (tap)="openQuizQuestionsPage(quiz)" (press)="selectQuiz(quiz)">
        <ion-checkbox *ngIf="quiz.selected" checked="true" (click)="selectQuiz(quiz)"></ion-checkbox>
        <ion-label>{{ quiz.title }}</ion-label>
      </ion-item>
  </ion-list>

  <ion-fab right bottom>
  <button ion-fab (click)="openQuizNewPage()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
</ion-content>
