<ion-menu [content]="content" id="menu-one">
  <ion-header *ngIf="profilesProv.profiles.length > 0">
    <ion-item no-lines class="user-info" tappable (tap)="openUserProfilePage()">
      <ion-icon name="create"></ion-icon>
      <ion-avatar>
        <img class="no-img" *ngIf="!profilesProv.profiles[0].avatar" src="assets/svgs/icon.svg">
        <img *ngIf="profilesProv.profiles[0].avatar" [src]="renderPicture(profilesProv.profiles[0].avatar)">
      </ion-avatar>
        <div class="card-title">{{profilesProv.profiles[0].nickname}}</div>
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item tappable (tap)="openHomePage()">
          <ion-icon name="clipboard" item-start></ion-icon>
          {{ 'QUIZZES' | translate }}
        </ion-item>
        <ion-item *ngIf="!(platform.is('core') || platform.is('mobileweb'))" tappable (tap)="openBarcodeScannerPage()">
          <ion-icon name="game-controller-b" item-start></ion-icon>
          {{ 'JOIN_GAME' | translate }}
        </ion-item>
      </ion-item-group>
      <div class="empty-space"></div>
      <ion-item-group>
        <ion-item-divider color="light">{{ 'APP' | translate }}</ion-item-divider>
        <!--<ion-item>
          <ion-icon name="settings" item-start></ion-icon>
          Settings
        </ion-item>-->
        <ion-item tappable (tap)="openAboutPage()">
          <ion-icon name="information-circle" item-start></ion-icon>
          {{ 'ABOUT' | translate }}
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content swipeBackEnabled="false"></ion-nav>
