<ion-header>
  <ion-navbar>
    <ion-title>
      {{showReorderCategorys === false ? (selectedQuestions === 0 ? quiz.title : selectedQuestions + ' ' +  ('SELECTED' | translate)) : ('REORDER_CATEGORIES' | translate)}}
    </ion-title>
    <ion-buttons end *ngIf="showReorderCategorys === false && selectedQuestions === 0">
      <button ion-button icon-only (click)="startQuiz()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="showReorderCategorys === true && selectedQuestions === 0">
      <button ion-button (click)="showReorderCategorys = false">
        {{ 'DONE' | translate }}
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="selectedQuestions > 0">
      <button ion-button icon-only (click)="deleteSelected()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [reorder]="showReorderCategorys" (ionItemReorder)="reorderCategorys($event)">
    <ion-item-group class="category-questions" *ngFor="let category of quiz.categorys">
      <ion-item-divider>
        <ion-label>{{ category.name }}</ion-label>
        <ion-buttons item-end *ngIf="!showReorderCategorys">
          <button color="fulldark" ion-button icon-only (tap)="openMenuCategory($event, category)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item-divider>
      <ion-item-group *ngIf="!showReorderCategorys" [reorder]="selectedQuestions === 0" (ionItemReorder)="reorderQuestions($event, category)">
        <!-- set tap event after press to avoid multi execution. See https://forum.ionicframework.com/t/using-tap-and-press-on-same-element-both-gesture-events-are-fired/76406/4 -->
        <ion-item tappable *ngFor="let question of getQuestionsFromCategory(category)" (press)="selectQuestion(question)" (tap)="openQuestionPage(question)">
          <ion-icon [name]="getIconForQuestion(question.type)" item-start></ion-icon>
          <ion-icon *ngIf="question.selected" name="checkbox" color="primary" item-end></ion-icon>
          {{ question.question }}</ion-item>
      </ion-item-group>
    </ion-item-group>
  </ion-list>

  <ion-fab right bottom>
  <button ion-fab (click)="openNewQuestionPage()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
</ion-content>
