<ion-header>
  <ion-navbar>
    <ion-title>
      {{showReorderCategorys === false ? (selectedQuestions === 0 ? quiz.title : selectedQuestions + ' ' +  ('SELECTED' | translate)) : ('REORDER_CATEGORIES' | translate)}}
    </ion-title>
    <ion-buttons end *ngIf="showReorderCategorys === false && selectedQuestions === 0">
      <button ion-button icon-only (click)="startQuiz()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="showReorderCategorys === true && selectedQuestions === 0">
      <button ion-button (click)="showReorderCategorys = false">
        {{ 'DONE' | translate }}
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="selectedQuestions > 0">
      <button ion-button icon-only (click)="hideOrUnhideSelected()">
        <ion-icon [name]="enableUnhideIcon() ? 'eye' : 'eye-off'"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteSelected()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="quiz.questions.length > 0 || quiz.categorys.length > 1" [reorder]="showReorderCategorys" (ionItemReorder)="reorderCategorys($event)">
    <ion-item-group class="category-questions" *ngFor="let category of quiz.categorys">
      <ion-item-divider>
        <ion-label>{{ category.name }}</ion-label>
        <ion-buttons item-end *ngIf="!showReorderCategorys">
          <button color="fulldark" ion-button icon-only (tap)="openMenuCategory($event, category)">
            <ion-icon name="switch"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item-divider>
      <ion-item-group *ngIf="!showReorderCategorys" [reorder]="selectedQuestions === 0" (ionItemReorder)="reorderQuestions($event, category)">
        <!-- set tap event after press to avoid multi execution. See https://forum.ionicframework.com/t/using-tap-and-press-on-same-element-both-gesture-events-are-fired/76406/4 -->
        <ion-item tappable *ngFor="let question of getQuestionsFromCategory(category)" (press)="selectQuestion(question)" (tap)="openQuestionPage(question)">
          <ion-icon item-start [name]="getIconForQuestion(question.type)"></ion-icon>
          <ion-icon item-end name="document" *ngIf="!question.selected && question.draft"></ion-icon>
          <ion-icon item-end name="eye-off"  *ngIf="!question.selected && !question.draft && question.hide"></ion-icon>
          <ion-icon item-end name="videocam" *ngIf="!question.selected && !question.draft && !question.hide && question.extras.length > 0"></ion-icon>
          <ion-icon item-end name="checkbox" color="primary" *ngIf="question.selected"></ion-icon>
          <ion-label>{{ question.question }}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-item-group>
  </ion-list>
  <div *ngIf="quiz.questions.length < 1 && quiz.categorys.length < 2" class="start-infos">
    <div class="empty-space"></div>
    <p>{{ 'QUIZ_QUESTIONS_EMPTY' | translate }}</p>
    <div class="empty-space"></div>
  </div>
  <ion-fab right bottom>
  <button ion-fab (click)="openQuestionPage()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
</ion-content>
