<ion-header>
  <ion-navbar>
    <ion-title>
      {{quiz.title}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openQuizSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-button icon-only (click)="startQuiz()">
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let category of quiz.categorys">
      <ion-item-divider>
        <ion-label>{{ category.name }}</ion-label>
        <button ion-button icon-only item-end (click)="renameCategory(category)"><ion-icon name="create"></ion-icon></button>
      </ion-item-divider>
      <ion-item *ngFor="let question of getQuestionsFromCategory(category)" (tap)="openQuestionPage(question)">{{ question.question }}</ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab right bottom>
  <button ion-fab (click)="openNewQuestionPage()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
</ion-content>
