<ion-header>
  <ion-navbar color="fulldark">
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <p class="information" *ngIf="currentExtraType === ExtraType.none">{{ 'NO_INTRO_INFO' | translate }}</p>
  <p class="information" *ngIf="currentExtraType !== ExtraType.none && !renderedExtra"><ion-spinner name="dots" color="primary"></ion-spinner></p>
  <canvas *ngIf="currentExtraType === ExtraType.picture && renderedExtra" [style.background-image]="renderedExtra"></canvas>
  <video controls autoplay *ngIf="currentExtraType === ExtraType.video && renderedExtra">
    <source [src]="renderedExtra"/>
  </video>
</ion-content>

<ion-footer>
  <ion-toolbar color="fulldark">
    <ion-buttons left>
      <button ion-button icon-only (click)="openImagePicker()"><ion-icon [name]="extras.length === 0 ? 'add' : 'create'"></ion-icon></button>
      <button ion-button icon-only (click)="deleteExtras()" *ngIf="extras.length > 0"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="save()">{{ 'SAVE' | translate }}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
